.MenuItem {
    color:white;
    width: 100%;
}
.MenuItem:hover{
    background-color: #5f1235;
    color:white;
    width: 100%;
    cursor: pointer;
}
.Full_width{
    width: 100%;
}
.Sidebar_heading{
    color: #871b4c;
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.67;
    letter-spacing: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}
.MenuItem_logout{
    color:white;
    width: 100%;
    border-top: 1px solid black;
}
.MenuItem_logout:hover{
    background-color: #5f1235;
    color:white;
    width: 100%;
    cursor: pointer;
}